* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.section {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

.logo {
  display: flex;
  align-items: center;
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo span {
  color: #4d5ae5;
}

.navigation {
  display: flex;
  gap: 40px;
  margin: 0 332px 0 76px;
}

.navigation a {
  color: #2e2f42;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.contact {
  display: flex;
  gap: 40px;
}

.contact a {
  color: #434455;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.hero {
  padding: 188px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
}

.hero h1 {
  color: #fff;
  text-align: center;

  font-family: Roboto, sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  width: 496px;
  margin-bottom: 48px;
}

.hero button {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;

  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  color: #fff;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  cursor: pointer;
}

.about {
  padding: 120px 156px;
}

.about ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.about li {
  width: 264px;
}

.about div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  margin: 8px;

  border-radius: 4px;
  background: #f4f4fd;
}

.about-svg {
  width: 64px;
  height: 64px;
}

.about li :nth-child(2) {
  color: #2e2f42;

  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.about li :last-child {
  color: #434455;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.services {
  padding-bottom: 120px;
}

.services h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;

  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.services ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team {
  padding: 120px 0 120px;
  background: var(--CLOUD, #f4f4fd);
}

.team-network {
  display: inline-flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.text-list {
  padding: 32px 0;
  text-align: center;
}

.team h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  color: #2e2f42;
  font-family: Roboto, sans-serif;
  font-size: 36px;

  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team h3 {
  color: #2e2f42;

  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.team p {
  color: #434455;
  text-align: center;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}

.social-size {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.team-foto {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.team-svg {
  width: 16px;
  height: 16px;
}

.social-list {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: #4d5ae5;
}

.social-network {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.footer {
  padding: 100px 156px;
  background: #2e2f42;
}

.customer {
  text-align: center;
}

.customer h2 {
  padding-top: 120px;
  margin-bottom: 72px;

  color: #2e2f42;

  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.customer ul {
  display: flex;
  justify-content: center;
  gap: 24px;

  padding-bottom: 120px;
}

.customer li {
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);

  padding: 16px 32px;
}

.customer svg {
  width: 104px;
  height: 56px;
  flex-shrink: 0;
}

.footer {
  display: flex;

  gap: 120px;
}

footer p {
  color: #f4f4fd;
  width: 264px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.logo-white {
  color: #f4f4fd;
  margin-bottom: 17.5px;
}

.footer h2 {
  color: #fff;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer-svg {
  width: 24px;
  height: 24px;
}
